body {
    background: lightgray;
    padding: 10px;
}



.box-nav {
    background: palegreen;
    min-width: 85px;
    max-width: 85px;
    height: 40px;
    display: inline-block;
    border-radius: 10px; 
    text-align: center;
    padding-top: 5px;
   
}

.box-header {
    color: burlywood;
    background: black;
    overflow: auto;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-width: 20px 20px;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    
}


.box-maincode {
    color: rgb(56, 84, 121);
    background: yellowgreen;
    min-width: 600px;
    overflow: auto;
}

.box-code {
    color: rgb(56, 84, 121);
    background: yellowgreen;
    min-width: 800px;
}
    

section {
    background:#ffffff;
}

h1 {
    color: lightslategray;
}
h2 {
    color: lightslategrey;
}

h3 {
    color: rgb(35, 94, 142);
}

p {
    color: rgb(56, 84, 121);
}
footer {
color: rgb(64, 94, 133);
}

.grey-header{
color: rgb(80, 142, 204);
}

#top {
    background: mediumaquamarine;
}

nav a {
    color: mediumvioletred;
    
}

a {
    color: orangered;
    text-decoration: unset;
    cursor: cell;
    
    
}